 <h1>Welcome </h1><br>
    	<button type="button" class="btn btn-light"><%= link_to("Search School", "/welcome/search_page") %></button>
    	<button type="button" class="btn btn-light"><%= link_to("New School", "/schools/new") %></button>
   