<h1>Add student to the course</h1>

<%= form_with url: enroll_student_courses_path(course_id: @course.id), local: true do |form| %>
 <% @students.each do |student| %>
	<div class="field">
		<%= form.label student.email %>
		<%= form.check_box :send_text, {multiple: true}, student.id, nil %>
		<br/>
	</div>
	<% end -%>

  <p>
    <%= form.submit %>
  </p>
 
<% end %>
