<%= render 'chapters/chapter' %>
    
 <div class="col-sm-9">
	 <h4><small>General course information</small></h4>
      <hr>
      <h2><%= @course.title %></h2><br>
<p>
  <%= @course.description %>
 </p>
     